

<div  id="<%= dom_id friend %>" class=" card">
  <div>
    <%= image_tag ("/assets/#{rand(4)}.png"),class:"img-fluid" %>
    <div class="card-body">
      
          <h5 class="card-title">First name:</h5>
          <p class="card-text"><%= friend.first_name %>
        
      
          <h5 class="card-title">Last name:</h5>
          <p class="card-text"><%= friend.last_name %></p>
        

        
          <h5 class="card-title">Email:</h5>
          <p class="card-text"><%= friend.email %></p>
        

        
          <h5 class="card-title">Phone:</h5>
          <p class="card-text"><%= friend.phone %></p>
        

        
          <h5 class="card-title">Twitter:</h5>
          <p class="card-text"><%= friend.twitter %></p>
          
    </div>
  </div>
</div>

