<p style="color: green"><%= notice %></p>
<div class="container ">

<div class="d-md-flex flex-wrap justify-content-around">
  <%= render @friend %>
</div>

  <%# this page needs some custom style %>
  <%# <%= @friend.email%> %>
  
  <%= link_to "Edit this friend", edit_friend_path(@friend), class:"btn btn-secondary" %> 
  <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>

  <%= button_to "Destroy this friend", @friend, method: :delete %>
  
</div>

